{% extends 'base.html.twig' %}
{% block body %}
    {% include '_navbar.html.twig' %}
    <div class="row">
        <div class="offset-md-2 offset-lg-2 col-md-8 col-lg-8">
            <ul class="runners">
                    <li>{{ runner.name }} run {{ runner.distance }} in {{ runner.hours }}:{{ runner.minutes }}:{{ runner.seconds }}</li>
            </ul>
        </div>
    </div>
{% endblock %}


